@import '../../styles/var';

.site-header {
  position: relative;
  z-index: 100;
  color: $header-font-color;
}

.site-header__middle {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #e9e8ea;

  .container-fluid {
    position: relative;
    display: flex;
    height: inherit;
  }
}

.site-header__logo {
  display: flex;
  align-items: center;
  width: 150px;
  color: $header-logo-color;

  a {
    color: inherit;
  }

  img {
    width: 130px;
    padding: 10px 0;
  }
}

.site-header__search {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.site-header__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  line-height: 1;
  text-align: center;
}

.site-header__phone-title {
  margin-bottom: 6px;
  font-size: 14px;
  color: $header-font-muted-color;
}

.site-header__phone-number {
  font-weight: $font-weight-bold;
  font-size: 20px;
}

.site-header__nav-panel {
  display: flex;
  flex-grow: 1;
}

.site-header__actions {
  position: relative;
  display: flex;
  margin-left: auto;
}

.site-header__item {
  .dropdown__btn {
    margin-left: 15px;
    text-transform: uppercase;
  }

  .dropdown__btn:hover,
  .dropdown__btn:focus {
    color: #c92f67;
    background: transparent;
  }
}

.site-header__item--link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: -5px;
  margin-left: 16px;

  a {
    color: $header-font-color;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .site-header__logo {
    justify-content: flex-start;
    width: 210px;
    margin-right: 24px;
  }
}

.mobile-header__menu-button {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  font-size: 25px;
  color: $mobile-header-menu-button-default-color;
  background: $mobile-header-menu-button-default-bg;
  border: none;
  border-radius: $mobile-header-menu-button-border-radius;
  cursor: pointer;
  transition: fill 0.2s, background 0.2s;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    color: $mobile-header-menu-button-hover-color;
    background: $mobile-header-menu-button-hover-bg;
  }

  span {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 99;
    font-size: 12px;
    color: $light-opposite-color;
  }

  span::before,
  span::after {
    content: '';
    position: absolute;
    z-index: 99;
    display: block;
    width: 37px;
    height: 2px;
    background: $light-opposite-color;
    border-radius: 1px;
    cursor: pointer;
  }

  span::before {
    top: -21px;
    left: 0;
  }

  span::after {
    bottom: 21px;
    left: 0;
  }

  span,
  span::before,
  span::after {
    transition: all 500ms ease-in-out;
  }
}

.mobile-header__menu-button--opened {
  span {
    color: transparent;
  }

  span::before {
    transform: translateY(8px) rotate(45deg);
  }

  span::after {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.mobile-header__search {
  position: absolute;
  top: 70px;
  right: 15px;
  z-index: 1;
  width: 50%;
  background: $offcanvas-search-bg;
  box-shadow: $offcanvas-search-shadow;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s, visibility 0s 0.3s, opacity 0.3s;

  form {
    display: flex;
    height: 54px;
  }

  input {
    flex-grow: 1;
    flex-basis: 0;
    width: 0;
    height: 100%;
    padding: 0;
    padding-left: 15px;
    padding-left: 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    border-radius: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $offcanvas-search-placeholder-color;
    }
  }
}

.mobile-header__search--opened {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s;
}

.mobile-header__search-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 54px;
  color: $offcanvas-search-button-default-color;
  background: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    color: $offcanvas-search-button-hover-color;
  }
}

.mobile-header__search-button--close {
  font-size: 20px;
  border-left: 1px solid $offcanvas-search-divider-color;
}

.search__button {
  position: relative;
  width: 54px;
  height: 100%;
  font-size: 20px;
}

.indicator--mobile-search .indicator__area {
  padding-right: 10px;
}

.account-menu {
  width: 280px;
  overflow-y: auto;
  color: $account-menu-font-color;
  background: $account-menu-bg;
  box-shadow: $account-menu-shadow;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.account-menu__form {
  padding: 0 30px 32px;

  .form-group {
    margin-bottom: 1rem;
  }
}

.account-menu__form-title {
  padding: 30px 0 26px;
  font-weight: $font-weight-bold;
  text-align: center;
}

.account-menu__form-button {
  margin-top: 32px;
  text-align: center;

  .btn {
    padding-right: 28px;
    padding-left: 28px;
  }
}

.account-menu__form-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;

  a {
    color: $account-menu-font-alt-color;
    transition: color 0.1s;
  }

  a:hover {
    color: inherit;
  }
}

.account-menu__form-forgot {
  position: relative;
}

.account-menu__form-forgot-link {
  $local-offset: 5px;

  position: absolute;
  top: $local-offset;
  bottom: $local-offset;
  display: flex;
  align-items: center;
  padding: 0 7px;
  padding-right: $local-offset;
  font-weight: $font-weight-medium;
  font-size: 12px;
  color: $btn-light-font-color;
  background: $btn-light-bg-color;
  border-radius: 2px;
  transition: background 0.1s, color 0.1s;

  &:hover {
    color: $btn-light-hover-font-color;
    background: $btn-light-hover-bg-color;
  }

  &:active {
    color: $btn-light-active-font-color;
    background: $btn-light-active-bg-color;
  }
}

.account-menu__divider {
  height: 1px;
  background: $account-menu-divider-color;
}

.account-menu__user {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: inherit;

  &:hover {
    color: inherit;
    background: $account-menu-item-hover-bg;
  }
}

.account-menu__user-avatar {
  flex-shrink: 0;
  width: 44px;
  margin-right: 14px;

  img {
    max-width: 100%;
    border-radius: 100%;
  }
}

.account-menu__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account-menu__user-name {
  font-weight: $font-weight-medium;
  font-size: 15px;
  line-height: 20px;
}

.account-menu__user-email {
  margin-top: 1px;
  font-size: 14px;
  line-height: 18px;
}

.account-menu__links {
  margin: 0;
  padding: 12px 0;
  list-style: none;

  span,
  a {
    display: block;
    padding: 5px 20px;
    font-weight: $font-weight-medium;
    font-size: 15px;
    color: inherit;
  }

  span:hover,
  a:hover {
    background: $account-menu-item-hover-bg;
    cursor: pointer;
  }
}
