@import '../../styles/var';
@import '../../styles/functions';

.mobile-header {
  height: $nav-panel-height;
}

.mobile-header__panel {
  position: relative;
  color: $nav-panel-font-color;
  background: $nav-panel-bg;
  box-shadow: $nav-panel-shadow;
}

.mobile-header__body {
  display: flex;
  align-items: center;
  height: $nav-panel-height;
}

.mobile-header__menu-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  background: $mobile-header-menu-button-default-bg;
  border: none;
  border-radius: $mobile-header-menu-button-border-radius;
  cursor: pointer;
  transition: fill 0.2s, background 0.2s;
  fill: $mobile-header-menu-button-default-color;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    background: $mobile-header-menu-button-hover-bg;
    fill: $mobile-header-menu-button-hover-color;
  }
}

.mobile-header__indicators {
  display: flex;
  margin-left: auto;
}

.mobile-header__logo {
  margin: 0;
  margin-right: 16px;
  margin-left: 12px;
  color: inherit;
  fill: currentColor;

  &:hover {
    color: inherit;
  }

  svg {
    display: block;
  }
}

@media (min-width: breakpoint(sm-start)) and (max-width: breakpoint(md-end)) {
  .mobile-header__search {
    position: relative;
    flex-grow: 1;
    height: 36px;
    margin-right: 8px;

    input {
      position: relative;
      z-index: 1;
      flex-grow: 1;
      flex-basis: 0;
      width: 0;
      margin: 0;
      padding: 0 12px;
      font-size: 15px;
      font-family: inherit;
      color: $mobile-header-search-input-default-font-color;
      background: transparent;
      border: none;

      &::placeholder {
        color: $mobile-header-search-input-default-placeholder;
      }

      &:hover {
        color: $mobile-header-search-input-hover-font-color;

        &::placeholder {
          color: $mobile-header-search-input-hover-placeholder;
        }
      }

      &:focus {
        color: $mobile-header-search-input-focus-font-color;
        outline: none;

        &::placeholder {
          color: $mobile-header-search-input-focus-placeholder;
        }
      }
    }

    input:hover ~ {
      & .mobile-header__search-button {
        fill: $mobile-header-search-input-hover-icon-color;

        &:focus,
        &:hover {
          fill: $mobile-header-search-input-hover-icon-hover-color;
        }
      }

      & div {
        background: $mobile-header-search-input-hover-bg;
        box-shadow: $mobile-header-search-input-hover-shadow;
      }
    }

    input:focus ~ {
      & .mobile-header__search-button {
        fill: $mobile-header-search-input-focus-icon-color;

        &:focus,
        &:hover {
          fill: $mobile-header-search-input-focus-icon-hover-color;
        }
      }

      & div {
        background: $mobile-header-search-input-focus-bg;
        box-shadow: $mobile-header-search-input-focus-shadow;
      }
    }

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $mobile-header-search-input-default-bg;
      border-radius: 2px;
      box-shadow: $mobile-header-search-input-default-shadow;
      transition: all 0.2s;
      pointer-events: none;
    }
  }

  .mobile-header__search-form {
    display: flex;
    height: 100%;
  }

  .mobile-header__search-button {
    position: relative;
    z-index: 1;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 36px;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: fill 0.2s;
    fill: $mobile-header-search-input-default-icon-color;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      fill: $mobile-header-search-input-default-icon-hover-color;
    }
  }

  .mobile-header__search-button--close {
    display: none;
  }
}

@media (max-width: breakpoint(xs-end)) {
  .mobile-header__search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: $offcanvas-search-bg;
    box-shadow: $offcanvas-search-shadow;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s, visibility 0s 0.3s, opacity 0.3s;

    form {
      display: flex;
      height: 54px;
    }

    input {
      flex-grow: 1;
      flex-basis: 0;
      width: 0;
      padding: 0;
      padding-left: 15px;
      background: transparent;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $offcanvas-search-placeholder-color;
      }
    }
  }

  .mobile-header__search--opened {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
  }

  .mobile-header__search-button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 54px;
    background: transparent;
    border: none;
    cursor: pointer;
    fill: $offcanvas-search-button-default-color;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      fill: $offcanvas-search-button-hover-color;
    }
  }

  .mobile-header__search-button--close {
    border-left: 1px solid $offcanvas-search-divider-color;
  }
}
