{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "universal-import",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "lodash",
    ["@babel/plugin-proposal-decorators", { "legacy": true}],
    ["@babel/plugin-proposal-class-properties", { "loose": true}]
  ],
  "env": {
    "production": {
      "presets": [["@babel/preset-env", {
        "modules": false
      }]]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
