{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0"
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@loadable/babel-plugin",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    },
    "development": {
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "./public/extractedMessages"
          }
        ]
      ]
    }
  }
}
