{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "testing-library",
    "jest-dom",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:testing-library/recommended",
    "plugin:jest-dom/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {},
      "webpack": {
        "config": "./tools/webpack/config.babel.js"
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "consistent-return": "off",
    "no-param-reassign": [1, { "props": false }],
    "react/no-array-index-key": "off",
    "global-require": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-var-requires": "off"
  },
  "globals": {
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEV__": true
  }
}
