@import '../../../styles/var';
@import '../../../styles/functions';

.footer-contacts__title {
  margin-bottom: 25px;
}

.footer-contacts__text {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  list-style: none;
  font-size: 17px;
  line-height: 32px;

  a {
    color: inherit;
  }
}

.footer-contacts__contacts {
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 32px;

  a {
    color: inherit;
  }

  li {
    position: relative;
    padding: 4px 0;
  }
}

.footer-contacts__icon {
  display: inline-block;
  width: 22px;
  margin-right: 5px;
  text-align: center;
}

@media (max-width: breakpoint(sm-end)) {
  .footer-contacts {
    margin-top: 40px;
    text-align: center;
  }

  .footer-contacts__title {
    margin-bottom: 16px;
  }

  .footer-contacts__text {
    padding: 0;
  }
}
