@import '../../styles/var';

.site-header {
  position: relative;
  z-index: 100;
  color: $header-font-color;
}

.site-header__middle {
  display: flex;
  align-items: center;
  height: 104px;
  background: $topbar-bg;
  border-bottom: 1px solid #e9e8ea;

  .container {
    display: flex;
  }
}

.site-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  color: $header-logo-color;

  a {
    color: inherit;
  }

  svg {
    fill: currentColor;
  }
}

.site-header__search {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.site-header__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  line-height: 1;
  text-align: center;
}

.site-header__phone-title {
  margin-bottom: 6px;
  font-size: 14px;
  color: $header-font-muted-color;
}

.site-header__phone-number {
  font-weight: $font-weight-bold;
  font-size: 20px;
}

.site-header__nav-panel {
  height: $nav-panel-height;
}

.site-header__actions {
  position: relative;
  display: flex;
}

.site-header__item--link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: -5px;
  margin-left: 16px;

  a {
    color: $header-font-color;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .site-header__logo {
    justify-content: flex-start;
    width: 210px;
    margin-right: 24px;
  }
}
