@import '../../../styles/var';
@import '../../../styles/functions';

.product__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: [gallery] calc(50% - 20px) [info] calc(50% - 20px);
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 40px;
}

.product__gallery {
  min-height: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 6;
}

.product__info {
  position: relative;
  min-height: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.product__sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.product__wishlist-compare {
  display: none;
}

.product__name {
  margin-bottom: 18px;
}

.product__rating {
  display: flex;
  margin-bottom: 5px;
}

.product__rating-stars {
  margin-right: 12px;
  padding-top: 2px;
}

.product__rating-legend {
  font-size: 14px;
  line-height: 20px;
  color: $rating-legend-font-color;

  a {
    color: inherit;
    transition: color 0.2s;
  }

  a:hover {
    color: $link-hover-color;
  }

  span {
    content: '/';
    padding: 0 7px;
  }
}

.product__description {
  font-size: 16px;
}

.product__features {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;

  li {
    position: relative;
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 1px;
    padding-left: 13px;
  }

  li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    border: 1px solid currentColor;
    border-radius: 2.5px;
  }
}

.product__meta {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 0;
  padding: 12px 0 0;
  list-style: none;
  font-size: 14px;
  color: $body-font-muted-color;
  border-top: 1px solid $body-divider-color;

  li {
    margin-right: 18px;
  }

  a {
    color: inherit;
    transition: color 0.2s;
  }

  a:hover {
    color: $link-hover-color;
  }
}

.product__availability {
  display: none;
}

.product__prices {
  margin-top: 18px;
  margin-bottom: 14px;
  font-weight: $font-weight-bold;
  font-size: 28px;
  color: $price-color;
  letter-spacing: -0.03em;
}

.product__new-price {
  color: $price-new-color;
}

.product__old-price {
  font-weight: $font-weight-normal;
  font-size: 20px;
  color: $price-old-color;
  text-decoration: line-through;
}

.product__option {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__option-label {
  padding-bottom: 2px;
  font-weight: $font-weight-medium;
  font-size: 13px;
  color: $body-font-alt-color;
  text-transform: uppercase;
}

.product__actions {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.product__actions-item {
  margin: 4px;
}

.product__quantity {
  width: 120px;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.product__tags {
  margin-right: 24px;
  margin-left: 0;
}

.product__share-links {
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .product__name {
    margin-bottom: 18px;
    font-size: 28px;
  }
}

@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
  .product__content {
    -ms-grid-columns: 44% 56%;
    grid-template-columns: [gallery] calc(44% - 15px) [info] calc(56% - 15px);
    grid-column-gap: 30px;
  }

  .product__name {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .product__footer {
    display: block;
    margin-top: 18px;
  }

  .product__share-links {
    margin: 12px 0 0;
  }
}

@media (max-width: breakpoint(sm-end)) {
  .product__content {
    display: block;
  }

  .product__gallery {
    margin-bottom: 24px;
  }

  .product__name {
    margin-bottom: 18px;
    font-size: 28px;
  }

  .product__footer {
    margin-top: 22px;
  }
}

@media (max-width: 559px) {
  .product__footer {
    display: block;
    margin-top: 22px;
  }

  .product__share-links {
    margin: 12px 0 0;
  }
}

$local-field-height: 32px;
$local-item-size: 30px;
$local-border-width: 3px;
$local-white-border-width: 2px;
$local-item-inner-size: 14px;
$local-item-margin: 2px;

.input-radio-color {
  display: block;
}

.input-radio-color__list {
  display: flex;
  margin: -$local-item-margin;
  padding: #{max(0, $local-field-height - $local-item-size) / 2} 0;
}

.input-radio-color__item {
  display: block;
  width: $local-item-size;
  height: $local-item-size;
  margin: $local-item-margin;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  span {
    position: relative;
    display: block;
    width: $local-item-size;
    height: $local-item-size;
    background: currentColor;
    border-radius: $local-item-size / 2;
    transform: scale(
      #{round(($local-item-size * 0.75) / 2) / $local-item-size * 2}
    );
    transition: transform 0.2s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 1000px;
    }

    &::before {
      top: $local-border-width;
      left: $local-border-width;
      width: ($local-item-size - $local-border-width * 2);
      height: ($local-item-size - $local-border-width * 2);
      background: $input-radio-color-inner-circle-color;
      transform: scale(0);
      transition: transform 0.2s;
    }

    &::after {
      top: ($local-item-size - $local-item-inner-size) / 2;
      left: ($local-item-size - $local-item-inner-size) / 2;
      width: $local-item-inner-size;
      height: $local-item-inner-size;
      background: currentColor;
      transform: scale(0);
      transition: transform 0.2s;
    }
  }

  &:hover input:enabled ~ span {
    transform: scale(
      #{round(($local-item-size * 0.875) / 2) / $local-item-size * 2}
    );
  }
}

.input-radio-color__item input:enabled:checked {
  & ~ span,
  & ~ span::before,
  & ~ span::after {
    transform: scale(1);
  }
}

.input-radio-color__item--disabled {
  cursor: default;

  span {
    transform: scale(0.75);

    &::before {
      top: -1px;
      left: $local-item-size / 2 - 1px;
      width: 2px;
      height: calc(100% + 2px);
      background: $input-radio-color-stick-color;
      transform: scale(1.33) rotateZ(45deg);
    }
  }
}

.input-radio-color__item--white {
  span {
    box-shadow: inset 0 0 0 $local-white-border-width
      $input-radio-color-white-border-color;

    &::after {
      box-shadow: inset 0 0 0 $local-white-border-width
        $input-radio-color-white-border-color;
    }
  }
}

$local-item-margin: 3px;

.input-radio-label {
  display: block;
  font-weight: $font-weight-medium;
  font-size: 14px;
}

.input-radio-label__list {
  display: flex;
  flex-wrap: wrap;
  margin: -$local-item-margin;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  label {
    display: flex;
    margin: $local-item-margin;
    user-select: none;
  }

  span {
    display: block;
    height: 32px;
    padding: 0.3125rem 1rem;
    color: $input-radio-label-default-font-color;
    background: $input-radio-label-default-bg;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }

  input:not(:checked):not(:disabled) {
    & ~ span:hover {
      color: $input-radio-label-hover-font-color;
      background: $input-radio-label-hover-bg;
    }
  }

  input:checked {
    ~ span {
      color: $input-radio-label-active-font-color;
      background: $input-radio-label-active-bg;
      cursor: default;
      transition-duration: 0.08s, 0.08s;
    }
  }

  input:disabled {
    ~ span {
      cursor: default;
      opacity: 0.5;
    }
  }
}

$local-tag-margin: 2px;
$local-tag-padding: 3px 8px 2px;
$local-lg-tag-margin: 3px;
$local-lg-tag-padding: 6px 10px 5px;

.tags__list {
  display: flex;
  flex-wrap: wrap;
  margin: -$local-tag-margin;
  font-weight: $font-weight-medium;
  font-size: 13px;
  line-height: 18px;

  a {
    display: block;
    margin: $local-tag-margin;
    padding: $local-tag-padding;
    color: $tags-default-font-color;
    background: $tags-default-bg;
    border: $tags-default-border;
    border-radius: $tags-border-radius;
    transition: all 0.15s;
  }

  a:focus,
  a:hover {
    color: $tags-hover-font-color;
    background: $tags-hover-bg;
    border: $tags-hover-border;
  }
}

.tags--lg {
  .tags__list {
    margin: -$local-lg-tag-margin;

    a {
      margin: $local-lg-tag-margin;
      padding: $local-lg-tag-padding;
    }
  }
}

.share-links__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: $font-weight-medium;
  font-size: 11px;
  line-height: 18px;
  color: $share-links-font-color;
  white-space: nowrap;
}

.share-links__item {
  & + & {
    margin-left: 4px;
  }
}

.share-links__item a {
  display: block;
  padding: 2px 6px 1px 6px;
  border-radius: 1.5px;

  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.share-links__item--type--like a {
  background: $share-links-like-color;

  &:hover {
    background: darken($share-links-like-color, 5%);
  }
}

.share-links__item--type--tweet a {
  background: $share-links-tweet-color;

  &:hover {
    background: darken($share-links-tweet-color, 5%);
  }
}

.share-links__item--type--pin a {
  background: $share-links-pin-color;

  &:hover {
    background: darken($share-links-pin-color, 5%);
  }
}

.share-links__item--type--counter a {
  color: $share-links-counter-color;
  box-shadow: $share-links-counter-shadow;

  &:hover {
    color: darken($share-links-counter-color, 5%);
  }
}
