@import '../../styles/var';

.dropcart {
  width: 320px;
  font-weight: $font-weight-normal;
  font-size: 15px;
  color: $dropcart-font-color;
  background: $dropcart-bg;
  box-shadow: $dropcart-shadow;
}

.dropcart__empty {
  padding: 42px 30px;
  text-align: center;
}

.dropcart__products-list {
  padding: 20px 16px;
}

.dropcart__product {
  display: flex;

  & + & {
    margin-top: 24px;
  }
}

.dropcart__product-image {
  flex-shrink: 0;
  width: 70px;

  img {
    max-width: 100%;
  }
}

.dropcart__product-name {
  margin-top: -2px;
  font-size: 15px;
  line-height: 18px;

  a {
    color: inherit;
    transition: 0.15s;
  }

  a:hover {
    color: $link-hover-color;
  }
}

.dropcart__product-info {
  flex-grow: 1;
  margin: 0;
  #{$padding-inline-end}: 10px;
  #{$padding-inline-start}: 16px;
}

.dropcart__product-options {
  margin: 3px 0 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  color: $dropcart-font-muted-color;
}

.dropcart__product-meta {
  margin-top: 5px;
  font-size: 13px;
}

.dropcart__product-price {
  font-weight: $font-weight-bold;
  font-size: 14px;
}

.dropcart__product-remove {
  flex-shrink: 0;
  margin-top: -6px;
  #{$margin-inline-end}: -6px;
}

.dropcart__totals {
  padding: 16px 20px 0;
  line-height: 24px;
  border-top: 1px solid $dropcart-divider-color;

  th {
    #{$padding-inline-end}: 16px;
  }

  td {
    text-align: $inline-end;
  }

  table {
    width: 100%;
  }
}

.dropcart__buttons {
  display: flex;
  margin-top: 4px;
  padding: 20px;

  > * {
    flex-grow: 1;
  }

  > :first-child {
    #{$margin-inline-end}: 8px;
  }
}
