@import 'font';
@import 'base';
@import 'buttons';
@import 'block';
@import 'typography';
@import 'forms';
@import 'var';

$preloading-width: 150px;
$preloading-height: 4px;
$preloading-time: 3s;

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-family: $body-font-family;
  text-align: left;
  color: $body-font-color;
  background: $body-bg;
  backface-visibility: hidden;

  &.preloading #preloader::before {
    content: '';
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 100000;
    box-sizing: border-box;
    width: $preloading-width;
    height: $preloading-height;
    margin-top: 60px;
    margin-left: -($preloading-width/2);
    background: #eee;
    border-left: 0 solid $accent-color;
    animation: preloading $preloading-time cubic-bezier(0.5, 0.5, 0.5, 1) both;
  }
}

@keyframes preloading {
  0% {
    border-left: 0 solid $accent-color;
  }

  100% {
    border-left: $preloading-width solid $accent-color;
  }
}

#root {
  height: 100%;
}

@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}

.container-fluid {
  max-width: 1400px;
}
