@import 'font';
@import 'base';
@import 'buttons';
@import 'block';
@import 'typography';
@import 'forms';
@import 'var';

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-family: $body-font-family;
  text-align: left;
  color: $body-font-color;
  background: $body-bg;
  backface-visibility: hidden;
}

#root {
  height: 100%;
}

@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}
