@import '../../styles/var';

$local-margin: 4px;

.filter-color__list {
  display: flex;
  flex-wrap: wrap;
  margin: -$local-margin;
  padding: 2px 0;
}

.filter-color__item {
  margin: $local-margin;
  cursor: pointer;
}

.filter-color__check {
  display: block;
}

$local-box-size: 22px;
$local-box-disabled-size: 22px;
$local-stick-length: 34px;
$local-border-radius: 1.2px;
$local-transition-duration: 0.15s;

.input-check-color {
  display: inline-block;
}

.input-check-color__body {
  position: relative;
  display: block;
  width: $local-box-size;
  height: $local-box-size;
  margin: 0;
  overflow: hidden;
  border-radius: $local-border-radius;
  cursor: inherit;
}

.input-check-color__input {
  position: absolute;
  visibility: hidden;
}

.input-check-color__box {
  display: block;
  width: $local-box-size;
  height: $local-box-size;
  background: currentColor;
  border-radius: $local-border-radius;
  cursor: inherit;
}

.input-check-color__icon {
  position: absolute;
  top: (5px + ($local-box-size - 24px) / 2);
  left: (4px + ($local-box-size - 24px) / 2);
  transform: scale(0);
  transition: transform $local-transition-duration;
  fill: $input-check-color-arrow-light-color;
}

.input-check-color__input:checked ~ {
  .input-check-color__icon {
    transform: scale(0.7);
  }
}

.input-check-color__input:disabled {
  cursor: default;
}

.input-check-color__input:disabled ~ {
  .input-check-color__box {
    position: relative;
    top: ($local-box-size - $local-box-disabled-size) / 2;
    left: ($local-box-size - $local-box-disabled-size) / 2;
    width: $local-box-disabled-size;
    height: $local-box-disabled-size;
    cursor: default;
    opacity: 0.5;
  }

  .input-check-color__stick {
    position: absolute;
    top: ($local-box-size - $local-stick-length) / 2;
    left: calc(50% - 1px);
    display: block;
    width: 2px;
    height: $local-stick-length;
    background: $input-check-color-stick-color;
    border-radius: 1px;
    transform: rotateZ(45deg);
    transform-origin: center center;
    pointer-events: none;
  }
}

.input-check-color--light {
  .input-check-color__icon {
    color: $input-check-color-arrow-dark-color;
  }
}

.input-check-color--white {
  .input-check-color__box {
    box-shadow: $input-check-color-white-shadow;
  }

  .input-check-color__icon {
    color: $input-check-color-white-arrow-color;
  }
}
