@import '../../../styles/var';
@import '../../../styles/functions';

$item-padding: 25px;

.nav-links {
  height: 100%;
}

.nav-links__list {
  z-index: 10;
  display: flex;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links__item {
  height: 100%;

  & > a {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: $nav-links-item-font-weight;
    font-size: 16px;
    color: $nav-links-item-default-font-color;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    span {
      background: $nav-links-item-default-bg;
      box-shadow: $nav-links-item-default-shadow;
    }

    svg {
      fill: $nav-links-item-default-arrow-color;
    }

    & > span {
      display: flex;
      align-items: center;
      height: $nav-links-item-height;
      padding: 0 $item-padding;
      background: transparent;
      border-radius: $nav-links-item-border-radius;
      transition: background-color 0.2s;
    }
  }

  &:hover > a {
    color: $nav-links-item-hover-font-color;

    span {
      background: $nav-links-item-hover-bg;
      box-shadow: $nav-links-item-hover-shadow;
    }

    svg {
      fill: $nav-links-item-hover-arrow-color;
    }

    & > span {
      transition-duration: 0.1s;
    }
  }

  &:hover .nav-links__menu,
  &:hover .nav-links__megamenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }
}

.nav-links__item--menu {
  position: relative;
}

.nav-links__item--with-submenu {
  & > a span {
    position: relative;
    padding-right: ($item-padding + 4px + 9px);
  }

  & > a .nav-links__arrow {
    position: absolute;
    right: $item-padding - 2px;
  }
}

.nav-links__menu,
.nav-links__megamenu {
  position: absolute;
  top: 100%;
  transform: rotateX(45deg);
  transform-origin: top;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.nav-links__megamenu {
  left: 0;
}

.nav-links__megamenu--size--xs {
  width: 2 / 12 * 100%;
}

.nav-links__megamenu--size--sm {
  width: 4 / 12 * 100%;
}

.nav-links__megamenu--size--nl {
  width: 50%;
}

.nav-links__megamenu--size--md {
  width: 8 / 12 * 100%;
}

.nav-links__megamenu--size--lg {
  width: 10 / 12 * 100%;
}

.nav-links__megamenu--size--xl {
  width: 100%;
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  $item-padding: 10px;

  .nav-links__item > a > span {
    padding: 0 $item-padding;
  }

  .nav-links__item--with-submenu > a > span {
    padding-right: ($item-padding + 4px + 9px);
  }

  .nav-links__item--with-submenu > a .nav-links__arrow {
    right: $item-padding - 2px;
  }
}
