@import '../../../styles/var';

.modal-title {
  &__item {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    color: $accent-color;
    cursor: pointer;

    &:hover {
      color: $accent-opposite-color;
    }

    &--active {
      color: $accent-opposite-color;

      &:hover {
        cursor: default;
      }
    }
  }

  &__item:first-child {
    &::after {
      content: '/';
      position: absolute;
      top: 0;
      right: -16px;
      height: 15px;
      padding: 0 10px;
      font-size: 25px;
      color: $light-divider-color;
    }
  }
}
