@import './var';
@import './functions';
@import './mixin/buttons';
@import './mixin/preloader';

$local-transition-duration: 0.1s;

.btn {
  border-radius: 2px;
  transition: all $local-transition-duration ease-in-out;

  @include btn-nl();
}

.btn-lg {
  @include btn-lg();
}

.btn-xl {
  @include btn-xl();
}

.btn-sm {
  @include btn-sm();
}

.btn-xs {
  @include btn-xs();
}

.btn-svg-icon {
  position: relative;
  padding: 0;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin local-button-variant(
  $bg,
  $font,
  $icon,
  $hover-bg,
  $hover-font,
  $hover-icon,
  $active-bg,
  $active-font,
  $active-icon
) {
  &.focus,
  &:focus,
  &:hover {
    color: $hover-font;
    background: $hover-bg;
    border-color: $hover-bg;
    fill: $hover-icon;

    .fake-svg-icon {
      color: $hover-icon;
    }
  }

  &.focus,
  &:focus {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $active-font;
    background: $active-bg;
    border-color: $active-bg;
    fill: $active-icon;

    .fake-svg-icon {
      color: $active-icon;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &,
  &.disabled,
  &:disabled {
    color: $font;
    background: $bg;
    border-color: $bg;
    fill: $icon;

    .fake-svg-icon {
      color: $icon;
    }
  }

  &.btn-loading:not(:disabled):not(.disabled),
  &.btn-loading:not(:disabled):not(.disabled):active,
  &.btn-loading:not(:disabled):not(.disabled).active {
    background: $bg;
    border-color: $bg;
    cursor: default;
  }
}

.btn-primary {
  @include local-button-variant(
    $btn-primary-bg-color,
    $btn-primary-font-color,
    $btn-primary-icon-color,
    $btn-primary-hover-bg-color,
    $btn-primary-hover-font-color,
    $btn-primary-hover-icon-color,
    $btn-primary-active-bg-color,
    $btn-primary-active-font-color,
    $btn-primary-active-icon-color
  );
}

.btn-secondary {
  @include local-button-variant(
    $btn-secondary-bg-color,
    $btn-secondary-font-color,
    $btn-secondary-icon-color,
    $btn-secondary-hover-bg-color,
    $btn-secondary-hover-font-color,
    $btn-secondary-hover-icon-color,
    $btn-secondary-active-bg-color,
    $btn-secondary-active-font-color,
    $btn-secondary-active-icon-color
  );
}

.btn-light {
  @include local-button-variant(
    $btn-light-bg-color,
    $btn-light-font-color,
    $btn-light-icon-color,
    $btn-light-hover-bg-color,
    $btn-light-hover-font-color,
    $btn-light-hover-icon-color,
    $btn-light-active-bg-color,
    $btn-light-active-font-color,
    $btn-light-active-icon-color
  );
}

/* loading state */
.btn-loading {
  position: relative;

  /* hide button content */
  &,
    /* hover */
  &:hover,
    /* focus */
  &.focus,
  &:focus,
    /* active */
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
    /* disabled */
  &.disabled,
  &:disabled {
    color: transparent;
    fill: transparent;
  }

  &::after {
    @include preloader();
  }

  /* nl size (default) */
  &::after {
    @include preloader-size(22px);
  }

  /* xl size */
  &.btn-xl::after {
    @include preloader-size(42px);
  }

  /* lg size */
  &.btn-lg::after {
    @include preloader-size(28px);
  }

  /* sm size */
  &.btn-sm::after {
    @include preloader-size(16px);
  }

  /* xs size */
  &.btn-xs::after {
    @include preloader-size(14px);
  }
}
