.modal-contentRoot {
  overscroll-behavior: none;
}
.modal-root,
.popup-decorator {
  overflow: visible;
  border-radius: 0;

  .modal-titleRoot {
    padding: 30px 20px 20px;
    background: color(modal, background);

    h2 {
      text-align: center;
      text-transform: none;
      font-size: 30px;
      color: color(modal, title);
    }
    & + .modal-contentRoot {
      padding-top: 0;

      h1 {
        margin-top: 10px;
      }
    }
  }
  .modal-buttonRoot,
  .popup-decorator__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    min-width: 0;
    height: 32px;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    color: color(modal, text);
    border-radius: 0;
    border: 0;
    background: none;
    backface-visibility: hidden;

    .modal-buttonLabel {
      font-size: 0;

      &::before {
        content: '\004f';
        @include svg-icon;
        font-size: 10px;
        transition: all $main-transition-time;
      }
    }
    &:hover {
      color: color(secondary, main);
      box-shadow: none;

      .modal-buttonLabel::before {
        transform: rotateZ(180deg);
      }
    }
  }
  .modal-paper {
    width: 720px;
    max-width: 100%;
    border-radius: 0;
    background: color(modal, background);

    .modalContentWrapper {
      display: flex;
      flex-direction: column;
      overflow-y: auto; // [FIN-21054] - wrong style in FireFox
      transform: translate3d(0, 0, 0); // [FIN-24612] - fix for Safari cropping

      .modal-contentRoot,
      .popup-decorator__content {
        color: color(modal, text);
        border: 0;
        border-radius: 0;
      }
      .modal-contentRoot {
        padding-bottom: 0;
      }
      .modal-contentRoot > div:last-child {
        padding-bottom: 50px;

        @include media-sm {
          padding-bottom: 15px;
        }
      }
      .modal-contentRoot > div:not(.notification-root):not(.grid-root):not(.deposit-form):not(.resume-form):not(.game-search):not(.verification-modal) {
        display: block;
        height: 100%;

        @-moz-document url-prefix() {
          height: auto;
        }
      }
      .field-root {
        padding-right: 0;
      }
    }
  }
  .content__wrapper {
    width: 100%;

    .group-root {
      width: 100%;
    }
  }
}
.registration-modal,
.page-modal--id-terms-conditions,
.page-modal--id-privacy-policy,
.page-modal--id-responsible-gambling,
.page-modal--id-bonus-terms {
  .modal-paper {
    width: 1168px;
  }
  .underlined-title {
    display: none;
  }
}
.password-confirmation {
  @at-root .spelpaus-modal,
  &.cool-off,
  &.close-account-confirmation {
    .group-root--buttons {
      direction: rtl;
      text-align: center;

      button {
        direction: ltr;

        & + button {
          margin-left: 0;
        }
        &.button-accent {
          text-transform: none;
        }
      }
    }
  }
}
.modal__gambling-message {
  margin: 20px 0;
  padding-bottom: 0 !important; // override: .modal-root .modal-paper .modalContentWrapper .modal-contentRoot > div:last-child `padding-bottom`
  text-align: center;

  p {
    margin: 0;
    font-size: 12px;
    color: color(text, light);
  }
}
.confirmation-modal__buttons {
  margin-top: 20px;
  justify-content: center;

  .gridItem-root {
    max-width: initial;
    flex-basis: auto;
  }
}

.modal-rootButtons {
  position: absolute;
  right: 50px;
  top: 8px;

  @include media-xs {
    top: -5px;
    right: 10px;
  }
}
.modal-rootButton {
  > .button-default {
    color: color(secondary, main);
    font-size: 16px;
    text-decoration: none;

    &:after {
      display: none;
    }
    > .button-label {
      white-space: nowrap;

      &::before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(secondary, main);
        transition: all $main-transition-time;
      }
      &:hover::before {
        opacity: 0;
      }
    }
  }
}

/* Reality check modal */

.reality-check-modal {
  &__descriptor {
    &-addon {
      display: inline;
      padding-right: 5px;

      p {
        display: inline;
        margin: 0;
      }
      & + .button-default {
        min-height: 0;
        padding: 0;

        &::after {
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
  &__buttons {
    text-align: center;

    button,
    button + button {
      margin: 0 7.5px;
    }
    @include media-xs {
      button + button {
        margin-top: 15px;
      }
    }
    .button-secondary {
      @include button-secondary(color(primary, dark), color(primary, dark));
    }
  }
}
@include media-sm {
  .modal-root {
    .modal-contentRoot {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 15px;
    }
    .modal-paper {
      width: 100%;
      height: 100%;
      max-height: 100%;
      margin: 0;
      justify-content: center;

      .modalContentWrapper {
        .modal-buttonRoot {
          top: 5px;
          right: 10px;
          border: 0;
          background: none;

          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}
@include media-xs {
  .modal-root {
    .modal-contentRoot {
      padding: 20px 10px 15px;
    }
  }
}
