.home-banner {
  height: 100vh;
  min-height: 470px;
  margin-top: -63px;
  padding-top: 60px;
  background: url('/cms/img/main-bg.jpg') center no-repeat;
  background-size: cover;

  @include media-sm {
    min-height: 680px;
  }
  .container {
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: color(primary, light);
    text-align: center;
    white-space: pre;

    @include media-md {
      white-space: normal;
    }
  }
  &__buttons {
    text-align: center;

    .button-root {
      min-width: 260px;
      margin: 0 10px;
      text-transform: uppercase;

      + .button-root {
        @include media-sm {
          margin-top: 15px;
        }
      }
    }
    .button-secondary {
      color: color(primary, light);
      @include button-secondary-box-shadow(color(primary, light));
    }
  }
  .field-inputValues {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    label {
      font-size: 18px;
      color: color(primary, light);

      &:first-child {
        position: static;
        order: 1;
        margin-right: 10px;
        align-self: flex-end;
        transform: none;
      }
    }
    &.field-error {
      label:first-child {
        color: color(error);
      }
    }
    .input-valuesLabel,
    .input-values,
    .field-helper {
      width: 100%;
    }
    .input-values .input-value {
      border-color: color(primary, light);

      button {
        min-height: 50px;
        font-size: 18px;
        color: color(primary, light);

        @include media-xs {
          font-size: 14px;
        }
      }
      &.input-selectedValue {
        background: color(primary, main);

        button {
          color: color(primary, dark);
        }
      }
    }
    .input-underline {
      flex: 1;
      order: 2;

      &::before {
        background: color(primary, light);
      }
    }
    .input-inputSingleline {
      text-align: center;
      font-size: 22px;
      color: color(primary, light);
    }
    input::-moz-placeholder {
      opacity: 0;
    }
    input::-webkit-input-placeholder {
      opacity: 0;
    }
    .field-helper {
      order: 3;
    }
  }
  .quick-deposit-button {
    width: 100%;
    height: 50px;;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .select-select {
    color: color(primary, light);
  }
  label[data-shrink="true"] {
    color: color(primary, light);
  }
  .select-icon {
    fill: color(primary, light);
  }
}
.quick-deposit-form {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;
  background: rgba(color(primary, dark), .7);
  transition: all $main-transition-time;

  @include media-md {
    display: none;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  .group-root:not(:empty) {
    display: flex;
    padding: 20px;

    .grid-root:first-child {
      width: auto;
      margin-right: 15px;
    }
  }
  .payment-method-field {
    width: auto;

    label {
      display: none;

      + div {
        margin-top: 0;
      }
    }
    .select-selectMenu {
      span {
        display: none;
      }
    }
  }
  .input-valuesLabel,
  .input-values {
    display: none;
  }
  .field-inputValues {
    > label {
      display: none;
    }
    .input-root {
      margin-top: 0;
    }
  }
  .input-underline {
    padding: 8px 10px;
    background: color(primary, light);

    &::before,
    &::after {
      right: 10px;
      bottom: 7px;
      left: 10px;
    }
  }
  .input-inputSingleline[type="number"] {
    max-width: 80px;
    height: 30px;
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
  .field-helper {
    position: absolute;
    bottom: -20px;
    white-space: nowrap;

    &:empty {
      margin: 0;
    }
  }
  .button-accent {
    width: 100%;
    height: 46px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .select-select {
    color: color(primary, light);
  }
  .field-select label[data-shrink="true"] {
    color: color(primary, light);
  }
  .select-icon {
    fill: color(primary, light);
  }
}
.games-groups-container {
  position: relative;
  margin: 32px auto;

  @include media-xs {
    margin-top: 18px;
  }
}
#game-list-anchor {
  position: relative;
  top: -60px;
}
