@import '../../styles/var';
@import '../../styles/functions';

.megamenu {
  width: 100%;
  min-height: 100%;
  padding: 26px 30px;
  line-height: 1.5;
  color: $megamenu-font-color;
  letter-spacing: 0.01em;
  background: $megamenu-bg;
  background-repeat: no-repeat;
  background-position: $inline-end bottom;
  box-shadow: $megamenu-shadow;
}

.megamenu--departments {
  #{$padding-inline-end}: 31px;


  @media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    #{$padding-inline-end}: 32px;
  }
}

.megamenu__links {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: $megamenu-primary-link-color;
    transition: color 0.15s;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.megamenu__links--level--0 {
  & > .megamenu__item + .megamenu__item--with-submenu,
  & > .megamenu__item--with-submenu + .megamenu__item {
    margin-top: 20px;
  }

  & > .megamenu__item {
    padding: 1px 0;
  }

  & > .megamenu__item > a {
    font-weight: $font-weight-medium;
  }

  & > .megamenu__item > a + .megamenu__links {
    margin-top: 3px;
    padding-top: 10px;
    border-top: 1px solid $megamenu-divider-color;
  }
}

.megamenu__links--level--1 {
  & > .megamenu__item > a {
    font-size: 14px;
    color: $megamenu-secondary-link-color;
    transition: color 0.15s;

    &:hover {
      color: $link-hover-color;
    }
  }
}
