@import '../../../styles/var';
@import '../../../styles/functions';

.footer-newsletter {
  padding-top: 40px;
  border-bottom: 1px solid #ebebeb;
}

.footer-newsletter__form {
  display: flex;
  justify-content: flex-end;
}

.footer-newsletter__form-input {
  max-width: 400px;
}

.footer-newsletter__form-button {
  margin-left: 6px;
}

@media (max-width: breakpoint(sm-end)) {
  .footer-newsletter {
    text-align: center;
  }

  .footer-newsletter__form {
    margin: 0 auto;
  }
}
