// Initial styling

body {
  &.initializing,
  &.preloading,
  &.offline {
    overflow: hidden;

    // Logo
    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(/cms/img/logo.svg) center center / 250px no-repeat #fff;
      z-index: 99999;
    }
  }

  // Text
  & > noscript,
  &.offline #root > span {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 100000;
    margin-top: 40px;
    color: #777;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  // Offline
  &.offline {
    // Logo
    &:after {
      filter: grayscale(100%);
    }

    & > noscript {
      display: none;
    }
  }
}
