@import '../../styles/var';
@import '../../styles/functions';
@import '../../styles/mixin/buttons';

.cart__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.75rem;
}

.cart__coupon-form {
  display: flex;
  width: calc(50% - 15px);

  .btn {
    flex-shrink: 0;
    margin-left: 0.5rem;
  }
}

.cart__buttons {
  display: flex;
  justify-content: flex-end;
  width: calc(50% - 15px);
}

.cart__update-button {
  margin-left: 0.5rem;
}

.cart__totals {
  width: 100%;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 20px;

  a:hover {
    text-decoration: underline;
  }

  th,
  td {
    padding: 6px 0;
    vertical-align: top;
  }

  th {
    font-weight: $font-weight-bold;
  }

  tr > :first-child {
    padding-right: 20px;
  }

  tr > :last-child {
    text-align: right;
  }
}

.cart__totals-header {
  tr:last-child > * {
    padding-bottom: 10px;
  }
}

.cart__totals-body {
  tr:first-child > * {
    padding-top: 20px;
    border-top: 1px solid $cart-divider-color;
  }

  tr:last-child > * {
    padding-bottom: 20px;
    border-bottom: 1px solid $cart-divider-color;
  }
}

.cart__totals-footer {
  font-size: 24px;

  th {
    font-weight: $font-weight-medium;
  }

  tr:first-child > * {
    padding-top: 20px;
  }
}

.cart__calc-shipping {
  margin-top: 2px;
  font-size: 15px;
}

@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
  .cart__actions {
    margin-top: 1.5rem;
  }
}

@media (max-width: breakpoint(sm-end)) {
  .cart__actions {
    display: block;
    margin-top: 1.5rem;
  }

  .cart__coupon-form {
    width: 100%;
  }

  .cart__buttons {
    flex-direction: column;
    width: 100%;
    margin-top: 1.75rem;
  }

  .cart__update-button {
    order: -1;
    margin-bottom: 0.75rem;
    margin-left: 0;
  }
}

@media (max-width: 479px) {
  .cart__checkout-button {
    @include btn-lg();
  }
}

@media (max-width: 379px) {
  .cart__checkout-button {
    @include btn-nl();
  }
}

.cart-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.cart-table__product-name {
  color: inherit;
}

.cart-table__options {
  margin: 4px 0 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  color: $cart-table-options-font-color;

  li {
    position: relative;
    padding-left: 12px;
  }

  li::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 1px;
    display: block;
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 2px;
  }
}

@media (min-width: breakpoint(md-start)) {
  .cart-table__column {
    padding: 12px 18px;
    border-top: 1px solid $table-border-color;

    &:first-child {
      border-left: 1px solid $table-border-color;
    }

    &:last-child {
      border-right: 1px solid $table-border-color;
    }
  }

  .cart-table__head {
    font-size: 15px;
    background: $table-th-bg;

    .cart-table__column {
      font-weight: $font-weight-medium;
    }

    .cart-table__column:first-child {
      border-top-left-radius: $table-border-radius;
    }

    .cart-table__column:last-child {
      border-top-right-radius: $table-border-radius;
    }
  }

  .cart-table__body {
    .cart-table__column {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    .cart-table__row:last-child {
      .cart-table__column {
        border-bottom: 1px solid $table-border-color;
      }

      .cart-table__column:first-child {
        border-bottom-left-radius: $table-border-radius;
      }

      .cart-table__column:last-child {
        border-bottom-right-radius: $table-border-radius;
      }
    }
  }

  .cart-table__column--image {
    width: 1px;
    text-align: center;

    img {
      width: 80px;
    }
  }

  .cart-table__column--price {
    width: 170px;
    text-align: right;
  }

  .cart-table__column--quantity {
    width: 1px;
    padding-left: 90px;
    text-align: center;
  }

  .cart-table__column--total {
    width: 170px;
    text-align: right;
  }

  .cart-table__column--remove {
    width: 1px;
  }
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .cart-table__column--quantity {
    padding-left: 40px;
  }

  .cart-table__column--price,
  .cart-table__column--total {
    width: 130px;
  }
}

@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
  .cart-table__column--quantity {
    padding-right: 0;
    padding-left: 0;
  }

  .cart-table__column--price,
  .cart-table__column--total {
    width: 1px;
  }

  .cart-table__column--remove {
    padding-left: 0;
  }
}

@media (max-width: breakpoint(sm-end)) {
  .cart-table {
    display: block;
  }

  .cart-table__head {
    display: none;
  }

  .cart-table__body {
    display: flex;
    flex-wrap: wrap;
  }

  .cart-table__row {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid $cart-table-card-border-color;
    border-radius: 2px;

    & + & {
      margin-top: 15px;
    }
  }

  .cart-table__column {
    display: block;
    padding: 0;
  }

  .cart-table__column--image {
    padding: 20px 20px 10px;
    text-align: center;

    img {
      width: 100%;
      max-width: 160px;
    }
  }

  .cart-table__column--product {
    padding: 0 20px 18px;
    text-align: center;
    border-bottom: 1px solid $cart-table-card-border-color;
  }

  .cart-table__column--price,
  .cart-table__column--quantity,
  .cart-table__column--total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;

    &::before {
      content: attr(data-title) ': ';
      flex-shrink: 0;
      width: 55%;
      font-weight: $font-weight-medium;
      text-align: right;
    }
  }

  .cart-table__column--quantity .input-number {
    width: 110px;
  }

  .cart-table__column--price {
    padding-top: 18px;
  }

  .cart-table__column--total {
    padding-bottom: 18px;
  }

  .cart-table__column--remove {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .cart-table__options li::before {
    display: none;
  }
}

.block-empty__body {
  padding: 18px 0 60px;
  text-align: center;
}

.block-empty__message {
  font-size: 17px;
}

.block-empty__actions {
  margin-top: 24px;
}
