@import '../../../styles/var';
@import '../../../styles/functions';
@import '../../../styles/mixin/product-card';

.block-brands__slider {
  border: $card-border;
  border-radius: $card-border-radius;
}

.block-brands__item {
  padding: 24px 24px;
  vertical-align: middle;

  img {
    width: 100%;
    height: 45px;
  }
}

@media (max-width: breakpoint(sm-end)) {
  .block-brands__item {
    padding: 20px 24px;
  }
}
