@import '../../styles/var';
@import '../../styles/functions';

$local-item-padding-left: 25px;

.filter-categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 18px;

  a {
    color: inherit;
    transition: color 0.15s;
  }

  a:hover {
    color: $link-hover-color;
  }
}

.filter-categories__item {
  padding: 6px 0;

  & > a {
    flex-grow: 1;
    padding: 3px 0;
  }
}

.filter-categories__item--parent {
  position: relative;
}

.filter-categories__item--current > a {
  font-weight: $font-weight-bold;
  color: $accent-color;
}

.filter-categories__item--child {
  position: relative;
  display: flex;
  padding-left: $local-item-padding-left;
  font-size: 15px;
}

.filter-categories__arrow {
  top: 7px;
  left: 0;
  padding-right: 6px;
  color: $filter-title-default-arrow-color;
  transform: scaleX(1 * 1);
}

.filter-categories__counter {
  position: absolute;
  right: 0;
  display: inline-block;
  padding-top: 4px;
  font-weight: $font-weight-normal;
  font-size: 12px;
  line-height: 12px;
}
