@import '../../../styles/var';

.product-gallery {
  img {
    max-width: 100%;
    height: auto;
  }
}

.product-gallery__featured {
  padding: 2px;
  border-radius: $product-gallery-item-border-radius;

  a {
    display: block;
    vertical-align: middle;
  }
}

.product-gallery__carousel {
  .slick-list {
    max-height: 640px;
    margin: 0 -5px;
  }

  .slick-track {
    margin-left: 0;
  }
}

.product-gallery__carousel-item {
  display: block;
  padding: 7px;
  vertical-align: middle;
  background: transparent;
  border: none;
  border-radius: $product-gallery-item-border-radius;
  cursor: pointer;
}

.product-gallery__carousel-item--active .product-gallery__carousel-image {
  box-shadow: $product-gallery-item-active-shadow;
}
