@import '../../styles/var';
@import '../../styles/functions';

.widget-products {
  padding: 20px;
  border: $card-border;
  border-radius: $card-border-radius;
}

.widget-products__list {
  padding-top: 8px;
}

.widget-products__item {
  display: flex;

  & + & {
    margin-top: 18px;
  }
}

.widget-products__image {
  flex-shrink: 0;
  width: 50px;
  margin-right: 12px;

  img {
    max-width: 100%;
  }
}

.widget-products__name {
  margin-top: -2px;
  font-size: 14px;
  line-height: 17px;

  a {
    color: inherit;
    transition: 0.15s;
  }

  a:hover {
    color: $link-hover-color;
  }
}

.widget-products__prices {
  padding-top: 2px;
  font-weight: $font-weight-bold;
  font-size: 14px;
  color: $price-color;
}

.widget-products__new-price {
  color: $price-new-color;
}

.widget-products__old-price {
  font-weight: $font-weight-normal;
  font-size: 12px;
  color: $price-old-color;
  text-decoration: line-through;
}

.widget__title {
  margin-bottom: 20px;
  font-size: 20px;
}
