@import '../../../styles/var';

.search {
  width: 100%;
}

.search__form {
  position: relative;
  display: flex;
  height: $search-height;
}

.search__border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: $search-border-radius;
  transition: box-shadow 0.15s, background 0.15s;
  pointer-events: none;
}

.search__button {
  position: absolute;
  right: 0;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  width: 42px;
  padding: 0;
  color: $light-divider-color;
  background: transparent;
  border: none;
  cursor: pointer;
  fill: $light-opposite-muted-color;

  &:hover,
  &:focus {
    color: $search-input-default-icon-hover-color;
    outline: none;
  }
}

.search__input {
  flex-grow: 1;
  width: 1px;
  padding: 0 17px;
  font-size: 15px;
  color: $search-input-default-font-color;
  background: $light-color;
  border: 1px solid $light-divider-color;
  border-radius: 30px;
  transition: color 0.15s;

  &::placeholder {
    color: $search-input-default-placeholder;
  }

  &:hover {
    color: $search-input-hover-font-color;

    &::placeholder {
      color: $search-input-hover-placeholder;
    }

    & ~ .search__button {
      fill: $search-input-hover-icon-color;

      &:hover {
        fill: $search-input-hover-icon-hover-color;
      }
    }
  }

  &:focus {
    color: $search-input-focus-font-color;
    outline: none;

    & ~ .search__button {
      fill: $search-input-focus-icon-color;

      &:hover {
        fill: $search-input-focus-icon-hover-color;
      }
    }

    &::placeholder {
      color: $search-input-focus-placeholder;
    }
  }
}
