.site-footer {
  background: transparent;
  border-top: 1px solid #ebebeb;
}

.site-footer__widgets {
  padding: 48px 0 54px;
}

.footer-contacts__title {
  margin-bottom: 25px;
}

.footer-contacts__text {
  font-size: 15px;
  line-height: 22px;
  list-style: none;
  margin: 0;
  padding: 0 20px 0 0;
}

.footer-contacts__contacts {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
}

.footer-contacts__contacts li {
  padding: 4px 0;
  position: relative;
}

.footer-contacts__icon {
  display: inline-block;
  text-align: center;
  width: 22px;
  margin-right: 2px;
}

.site-footer__bottom {
  height: 54px;
  border-top: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
