@import 'buttons';
@import '../functions';

@mixin product-card-list() {
  flex-direction: row;

  .product-card__image {
    flex-shrink: 0;
    width: 210px;
    padding: 24px;
  }

  .product-card__info {
    padding: 20px 0;
    padding-right: 4px;
    padding-left: 24px;
  }

  .product-card__name {
    flex-grow: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .product-card__rating {
    margin-top: 7px;
  }

  .product-card__description {
    margin-top: 12px;
    font-size: 15px;
    line-height: 22px;
    color: $product-card-font-alt-color;
  }

  .product-card__actions {
    flex-shrink: 0;
    width: 190px;
    padding: 16px 20px;
    border-left: 1px solid $product-card-divider-color;
  }

  .product-card__prices {
    margin-top: 16px;
    font-size: 18px;
  }

  .product-card__old-price {
    font-size: 14px;
  }

  .product-card__buttons {
    flex-wrap: wrap;
  }

  .product-card__addtocart--list {
    display: block;
  }

  .product-card__addtocart {
    display: none;
    width: 100%;
  }

  .product-card__addtocart + * {
    margin-left: 0;
  }

  .product-card__addtocart ~ * {
    margin-top: 8px;
  }

  .product-card__addtocart,
  .product-card__wishlist {
    @include btn-sm();
  }

  .product-card__availability {
    padding-right: 10px;
    font-size: 14px;
    color: $product-card-font-muted-color;
  }

  .product-card__features-list {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;

    li {
      padding: 3px 0;
      padding-right: 0;
      padding-left: 12px;
    }

    li::before {
      top: 8px;
    }
  }

  @media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    .product-card__image {
      width: 180px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .product-card__info {
      padding-right: 20px;
      padding-left: 0;
    }
  }

  @media (max-width: breakpoint(sm-end)) {
    flex-direction: column;

    .product-card__image {
      width: 250px;
      margin: 0 auto;
      padding: 20px;
    }

    .product-card__info {
      padding: 20px;
      border-top: 1px solid $product-card-divider-color;
    }

    .product-card__actions {
      width: auto;
      padding: 20px;
      border-top: 1px solid $product-card-divider-color;
      border-left: none;
    }

    .product-card__buttons {
      flex-wrap: nowrap;

      .btn {
        @include btn-nl();
      }
    }

    .product-card__addtocart--list {
      width: auto;
      margin-right: auto;
    }
  }
}

@mixin product-card-grid() {
  .product-card__image {
    padding: 0;
  }

  .product-card__info {
    padding: 10px 14px 10px;
  }

  .product-card__actions {
    padding: 0 24px 15px;
  }

  .product-card__description {
    display: none;
  }

  .product-card__availability {
    display: none;
  }

  .product-card__features-list {
    display: none;
  }
}

@mixin product-card-grid-with-features() {
  .product-card__features-list {
    display: block;
  }
}

@mixin product-card-grid-sm() {
  .product-card__image {
    padding: 0;
  }

  .product-card__badges-list {
    top: 10px;
    left: 10px;
  }

  .product-card__info {
    padding: 5px 0 5px;
  }

  .product-card__actions {
    padding: 6px 15px 10px;
  }

  .product-card__buttons .btn {
    @include btn-xs();
  }

  @media (hover: hover) {
    &:hover {
      .product-card__attributes {
        display: flex;
      }

      .product-card__image {
        img.product-card__image--optional {
          opacity: 1;
          transition: all 100ms ease-in-out;
        }
      }
    }
  }
}

@mixin product-card-grid-nl() {
  .product-card__buttons .btn {
    @include btn-sm();
  }

  @media (hover: hover) {
    &:hover {
      .product-card__attributes {
        display: flex;
      }

      .product-card__image {
        img.product-card__image--optional {
          display: block;
        }
      }
    }
  }
}

@mixin product-card-grid-lg() {
  .product-card__image {
    padding: 25px;
  }

  .product-card__info {
    flex-grow: 0;
    padding: 0 30px 0;
  }

  .product-card__name {
    font-size: 17px;
    line-height: 23px;
  }

  .product-card__actions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 30px 30px;
  }

  .product-card__rating {
    margin-top: 10px;
  }

  .product-card__prices {
    margin-bottom: auto;
    font-size: 20px;
  }
}

@mixin product-card-horizontal() {
  flex-direction: row;

  .product-card__image {
    width: 120px;
    padding: 16px;
  }

  .product-card__badges-list {
    top: 10px;
    left: 10px;
  }

  .product-card__badge {
    padding: 3px 5px 2px;
  }

  .product-card__info {
    width: 100%;
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 42px;
    padding-left: 0;
  }

  .product-card__name {
    max-height: 19px * 2;
    overflow: hidden;
  }

  .product-card__rating {
    white-space: nowrap;
  }

  .product-card__description {
    display: none;
  }

  .product-card__availability {
    display: none;
  }

  .product-card__buttons {
    display: none;
  }

  .product-card__actions {
    position: absolute;
    bottom: 18px;
    left: 120px;
  }

  .product-card__features-list {
    display: none;
  }
}

@mixin product-card-horizontal-sm() {
  .product-card__image {
    width: 110px;
  }

  .product-card__rating {
    display: none;
  }

  .product-card__actions {
    left: 110px;
  }
}

@mixin product-card-horizontal-lg() {
  $local-image-size: 216px;
  $local-image-margin: 16px;
  $local-image-padding: 24px;

  .product-card__image {
    width: $local-image-size;
    margin-right: $local-image-margin;
    padding-right: $local-image-padding;
    padding-left: $local-image-padding;
  }

  .product-card__info {
    padding-top: 20px;
    padding-bottom: (82px + 26px + 12px);
  }

  .product-card__name {
    flex-grow: 0;
    margin-bottom: 2px;
    font-size: 17px;
  }

  .product-card__actions {
    bottom: 26px;
    left: $local-image-size + $local-image-margin;
    align-items: center;
  }

  .product-card__prices {
    margin-top: 0;
    margin-right: 24px;
    font-size: 20px;
  }

  .product-card__buttons {
    display: block;
  }
}
